*.swp
*.ppm
.ipynb_checkpoints

mandelbrot_seq
mandelbrot_pth
mandelbrot_omp
mandelbrot_ompi
mandelbrot_ompi_pth
mandelbrot_ompi_omp

measurements/

.DS_store
.*.swp
.exrc

*.aux
*.bbl
*.blg
*.pdf
*.spl
